* {
  margin: 0;
  padding: 0;
}

body {
  
  position: relative;
 
 
}
html {
  scroll-behavior: smooth;
}



/************* Header ******************/

.logo {

  color: white;
  font-size: 40px;

}

.headerContainer a {
  text-decoration: none;
  color: aliceblue;
  font-size: 35px;

}
.headerContainer {
  background: rgb(63, 8, 33);
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 20px 30px 30px 20px;


}
.navContainer {
  display: flex;
  gap: 150px;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
   
}

.navContainer a {
  margin-left: 100px;
}



/************* Main ******************/
  
/* 
.Container {
  display: flex; 
  flex-direction: column;
  gap: 50px;
}
.employeeContainer {
  display: flex; 
  padding: 50px;  
  justify-content:   space-between ;
  border-color: #ffff;
   
}
.employeeDiv {
  padding: 50px;
  display: flex; 
  flex-direction: column; 
  gap: 15px; 
  text-align: left;
  font-size: 35px;
  border-color: #ffff;
  }
 */
    
.tableContainer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 35px;
  font-size: 40px;

}
 table, th, td {
	color : #fff;
  border: 1px solid white;
  border-collapse: collapse;
  text-align : center;
  font-size:35px;

  
}
th, td {
  background-color: rgb(193, 30, 30);
  padding: 15px;
  border-radius: 20px;
  
}

.td {
  background-color: rgb(193, 30, 30);
  padding: 15px;
  border-radius: 20px;
  font-size:35px;
}


.formContainer{
  margin-top: 200px;
  text-align: center;
  font-size: 40px;
}

.form  {
 
  padding-left: 100px;
  padding-right: 100px;
  display: flex;  
 
  justify-content: center;
  text-align: center;
  gap: 25px;  
  
}
input  {
  padding: 25px;
  border-radius: 12px;
  font-size: 30px;
}
select{
  padding: 20px 80px 20px 80px;
  border-radius: 12px;
  font-size: 30px;
}
 

.col {
  padding: 100px;
  
  margin-top: 100px;
  display: flex;  
  flex-direction: column;
 font-size:45px;
  justify-content: center;
  text-align: left;
  gap: 100px;  
}






/************* Footer ******************/

footer {
  position: relative;
  top: 100vh;
  left: 0;
}

  .footerContainer {
    background: rgb(63, 8, 33);
    display: flex;
    gap: 50px;
    color: white;
    padding: 50px;
  }